//// COMPUTE THE BITWISE EXCLUSIVE OR.
// This function takes two arguments and pushes the exclusive
// OR of its bits onto the stack. This function implements the
// formula:
//    x XOR y = (x AND (NOT y)) OR ((NOT x) and y)
// To call this function, you should:
//   1. push the two arguments onto the stack; and
//   2. call this function with `call Sys.xor 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
//
function Sys.xor 0
    push argument 0
    push argument 1
    and
    not
    push argument 0
    push argument 1
    or
    and
    return



//// SHIFT A VALUE LEFT BY REPEATED ADDITION.
// This function takes two arguments and pushes the first argument
// shifted left by as many position as indicated by the second
// argument. To call this function, you should:
//   1. push the two arguments (number to be shifted and number of
//      shift positions) onto the stack; and
//   2. call this function with `call Sys.shiftLeft 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
//
function Sys.shiftLeft 2
    push argument 0                 //puts argument[0] in local[0]
    pop local 0

    push constant 0                 //initialises local 1 for counter
    pop local 1

label loop_start                    
    push argument 1                 //Breaks the loop if the counter exceeds argument[1]
    push local 1 
    push constant 1
    add                 
    lt
    if-goto loop_end

    push local 0                    //Doubles local[0]
    push local 0
    add
    pop local 0

    push local 1                    //increases counter by 1
    push constant 1
    add
    pop local 1

    goto loop_start

label loop_end
    push local 0
    return



//// COMPUTE THE PARITY OF THE BOTTOM 15 BITS OF AN INTEGER.
// This function takes one arguments and pushes the parity of
// the fifteen right-most bits onto the stack. The possible output
// values are 1, if the number of 1s in the right-most fifteen
// bits is odd, or 0, if the number of 1s in the right-most
// fifteen bits is even. Here is some example output:
//
//     INPUT (binary)  | OUT |         NOTES
//    -----------------+-----+-----------------------
//    1000000000000000 |  0  | Left-most bit ignored.
//    0000000000000001 |  1  |
//    1000000000000001 |  1  | Left-most bit ignored.
//    0111111111011111 |  0  |
//    0111111111111111 |  1  |
//    1111111111111111 |  1  | Left-most bit ignored.
//
// To call this function, you should:
//   1. push the argument onto the stack; and
//   2. call this function with `call Sys.computeParity 1`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
//
function Sys.computeParity 2
    push constant 0
    pop local 0                         //local[0] will be used to store the parity bit

    push constant 1                     //initialises bitmask to 1
    pop local 1

label loop_start
    push local 1                        //break loop when bitmask = 0100000000000000
    push constant 8192
    gt
    if-goto loop_end

    push argument 0                     //bitwise and
    push local 1
    and
    push constant 0
    eq
    not
    if-goto bitmask_shift                   //if ith bit = 0 goto bitmask_shift 
                                            //else
    push local 0                            //flip parity
    push constant 1
    call Sys.xor 2
    pop local 0

label bitmask_shift
    push local 1
    push constant 1
    call Sys.shiftLeft 2
    pop local 1
    goto loop_start

label loop_end
    return


//// SET LEFT-MOST BIT TO PARITY BIT.
// This function takes one 16-bit string and pushes onto the stack
// the same bit string with the left-most bit set to the parity
// bit of the 15 right-most bits. Here is some example output:
//
//     INPUT (binary)  | OUTPUT (binary)  |         NOTES
//    -----------------+------------------+-----------------------
//    1000000000000000 | 0000000000000000 | Left-most bit ignored.
//    0000000000000001 | 1000000000000001 |
//    1000000000000001 | 1000000000000001 | Left-most bit ignored.
//    0111111111011111 | 0111111111011111 |
//    0111111111111111 | 1111111111111111 |
//    1111111111111111 | 1111111111111111 | Left-most bit ignored.
//
// To call this function, you should:
//   1. push the the argument onto the stack; and
//   2. call this function with `call Sys.encode 1`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
//
function Sys.encode 0
    push argument 0
    call Sys.computeParity 1
    if-goto zero

label one
    push argument 0
    push constant 0
    lt
    if-goto same_bit15
    push constant 32767
    not
    add
    goto END

label zero
    push argument 0
    push constant 0
    lt
    not
    if-goto same_bit15
    push constant 32767
    not 
    sub
    goto END

label same_bit15
    push argument 0
    goto END

label END
    return



// The emulator will start executing from here. You can modify
// the code below while testing and debugging your code, but
// please revert your changes before submitting to Gradescope;
// otherwise, your submission will most likely fail all tests.
//
// A better way to test your code is to use the supplied file
//   Sys.tst
// with the virtual machine emulator. Please do not submit this
// file to Gradescope, as this will cause your submission to be
// rejected.
//
function Sys.init 0
    call Sys.encode 1

label WHILE
    goto WHILE
